@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}


@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
	background-color: #e5e5e5;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	flex-grow: 1;
	width: 1200px;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	background-color: #ffffff;
	color: #000000;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Button */
.button {
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.button-brown {
	font-size: 16px;
	line-height: 20px;
	background-color: #756157;
	margin: 0;
}

.button-hotel-search {
	font-size: 20px;
	line-height: 36px;
	background-color: #756157;
	border-radius: 4px;
	padding: 12px 15px;
	width: 574px;
	height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	position: absolute;
	justify-content: space-around;
}

.button-blue {
	font-size: 16px;
	line-height: 20px;
	background-color: #82b3d3;
}

.button-blue-newsletter {
	font-size: 20px;
	line-height: 36px;
	background-color: #82b3d3;
}

.button-green {
	font-size: 16px;
	line-height: 20px;
	background-color: #7db54f;
}

.button-wanthere {
	border-radius: 4px;
	padding: 9px 15px 8px;
	margin-top: 14px;
	display: flex;
	align-items: center;
	text-align: center;
}

/*Page Header*/
.page-header {
	min-height: 65px;
	height: 65px;
}

/* Navigation */
.navigation {
	display: flex;
}

.navigation-logo {
	width: 140px;
	display: block;
	margin-right: 30px;
	margin-left: 70px;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	min-width: 390px;
	list-style-type: none;
}

.navigation-user {
	min-width: 270px;
	margin-left: auto;
}

.navigation-user .navigation-link {
	min-width: 18px;
	min-height: 18px;
}

.navigation-link {
	display: block;
	padding-top: 20px;
	padding-right: 34px;
	padding-bottom: 19px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	text-transform: capitalize;
}

.navigation-hotels {
	padding-right: 0;
}

.navigation-home {
	padding-left: 17px;
}

/* Main */

.main-picture-welcome {
	display: block;
	margin: 0 auto;
	padding-top: 51px;
	padding-bottom: 82px;
}

.main-picture {
	background-image: url("../images/index-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-height: 485px;
	margin-bottom: 63px;
}

.main-intro {
	min-height: 282px;
	width: 1200px;
}

.introduce-title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 31px;
}

.introduce-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 0;
	margin-bottom: 90px;
}

.introduce-title-hotelsearch {
	margin: 0;
	margin-top: 91px;
	margin-bottom: 29px;
}

.introduce-description-hotelsearch {
	margin: 0;
	margin-bottom: 56px;
}

/* Advantages List */

.advantages {
	margin: 0;
}

div {
	flex-grow: 1;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.advantages-item {
	min-height: 384px;
	align-items: center;
	width: 400px;
	background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantages-item-wide {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #82b3d3;
	color: #ffffff;
}

.advantages-dignity {
	background-color: #ffffff;
	color: #000000;
}

.advantages-pictire {
	display: block;
	margin: 0;
	padding: 0;
	width: 800px;
}

.advantages-devil {
	flex-direction: row-reverse;
}

.advantages-item-foof {
	background-color: #ffffff;
	color: #000000;
}

.advantages-item-road {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-dignity {
	margin: 0;
	margin-top: 183px;
	margin-bottom: 30px;
}

.advantages-description-dignity {
	margin: 0;
	margin-bottom: 81px;
}

.advantages-title-number {
	margin: 0;
	margin-top: 102px;
	margin-bottom: 30px;
}

.advantages-number {
	margin: 0;
	margin-bottom: 30px;
}

.advantages-description-number {
	margin: 0;
	margin-bottom: 102px;
}

/* Hotel search section */

.hotel-search {
	min-height: 417px;
}

/* Mailing list section */
.newsletter {
	min-height: 411px;
	color: #ffffff;
	background-image: url("../images/background.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.newsletter-catalog {
	min-height: 411px;
	background-color: #ffffff;
	color: #000000;
}

/* Footer */
.page-footer {
	min-height: 120px;
}

.page-footer-container {
	display: flex;
	flex-wrap: wrap;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 81px;
	padding: 0;
	list-style-type: none;
}

.footer-social-item {
	background: #83b3d3;
	width: 22px;
	height: 14px;
	margin-top: 58px;
	margin-bottom: 48px;
	margin-right: 28px;
}

.footer-social-item:nth-child(3) {
	margin-right: 0;
}

.contacts-phone {
	margin-top: 45px;
	margin-bottom: 35px;
}

.contacts {
	font-size: 40px;
	line-height: 40px;
}

.html-academy-logo {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 49px;
	padding-bottom: 39px;
}


.field {
	background-color: #f2f2f2;
}

/* Каталог */
.inner-header-title {
	margin: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.main-catalog-block {
	min-height: 403px;
	color: #ffffff;
	background-color: #000000;
}

.catalog-wrapper {
	min-width: 1212px;
}

.catolog-filter {
	display: flex;
}

.catalog-filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.catalog-filter-item {
	font-size: 18px;
	line-height: 21px;
}

.button-reset {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

/* Каталог Хлебные крошки*/
.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 16px;
	line-height: 21px;
}

.breadcrumbs-home {
	margin: 0;
	margin-right: 10px;
}

.breadcrumbs-hotels {
	margin: 0;
}

/* Каталог Карточки */
.hotel-card-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.hotel-card {
	width: 340px;
}

.hotel-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.hotel-raiting-star {
	color: #000000;
	background-color: #83b3d3;
}

.hotel-card-raiting {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

/* Сортировка */
.catalog-hotels-card-filter-item {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-right: 211px;
	padding-top: 8px;
	padding-bottom: 5px;
}

.catalog-sorting-container {
	display: flex;
	justify-content: center;
	width: 1057px;
	height: 49px;
	margin-top: 50px;
}

.select-control {
	margin-right: 78px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
}

.button-light {
	width: 48px;
	height: 48px;
	color: #000000;
}

/* Пагинация */
.container-pagination {
	display: flex;
	flex-direction: row;
	padding: 30px 25px;
}

.pagination {
	display: flex;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-link {
	color: #ffffff;
	background-color: #82b3d3;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	line-height: 36px;
	font-weight: 700;
	border-radius: 4px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	padding: 12px 25px 24px;
}

.pagination-link-current {
	color: #000000;
	background-color: #f2f2f2;
	margin-left: 73px;
}

.pagination-ten {
	padding: 12px 19px;
	margin-right: 270px;
}

.select-page {
	display: flex;
	order: 1;
	flex-grow: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	align-items: center;
}

.select-page-number {
	margin-right: 51px;
	width: 175px;
	height: 23px;
}

.select-page-control {
	justify-content: space-between;
	align-items: center;
	padding: 14px 20px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	width: 160px;
	height: 49px;
}
